<h1>Welcome to Music World!</h1>

  <p><a href="/bands">Add a new band</a></p>
  <p><a href="/venues">Add a new venue</a></p>


  <h3>Here are all the bands in this database:</h3>

  <% if @bands.any?() %>

  <p>Click on band to see what venue they're playing at!:</p>

  <ul>
    <% @bands.each do |band| %>
    <li><a href="/bands/<%= band.id() %>"><%= band.band_name() %></a></li>
    <% end %>
  </ul>

  <% else %>

  <p>There are no bands added yet!</p>

  <% end %>


  <h3>Here are all the venues in this database:</h3>

  <% if @venues.any?() %>
  <p>Click on a venue to see who's playing:</p>

  <ul>
    <% @venues.each do |venue| %>
    <li><a href="/venues/<%= venue.id() %>"><%= venue.venue_name() %></a></li>
    <% end %>
  </ul>

  <% else %>

  <p>There are no venues added yet!</p>

  <% end %>
