<h1>Music World</h1>

<form id="form_id" action="/bands" method="post" class="form-horizontal">
  <label for="band_name">Band Name</label>
  <input type="text" name="band_name" placeholder="e.g. rocker dudes">

  <button action="submit" class="btn btn-sm btn-primary">Add Band</button>
</form>

<% if Band.any?() %>
  <p>Check out all these Bands you created!</p>
  <ul>
    <% @bands.each() do |band| %>
      <li><a href="/bands/<% band.id() %>"><%= band.band_name() %> </a></li>
    <% end %>
  </ul>
<% else %>
  <p>You have not created any bands yet</p>
<% end %>
