<h1>Music World</h1>


<ul>
  <% @bands.each() do |band| %>
    <li><%= band.band_name %> <a href="/bands/<%= band.id() %>/edit">Update this band's description</a></li>
  <% end %>
</ul>
<p>Create a new band:</p>

<form action='/bands' method='post'>
  <label for='band_name'>Band Name</label>
  <input id='band_name' name='band_name' type='text'>

  <button type="submit">Add task</button>
</form>
